/*
  basic resetting for browser, should no longer be neccessary
  also have no default margin on <h..> or <p> elements
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /*Do not include border or padding into element dimensions*/
}

html {
  /* font-size: 10px; // ted 1rem=10px*/ /*bad practise*/
  font-size: 62.5%; /*best practise*/

  // @include respond-phone {
  //   font-size: 50%; // toto je ten @content
  // }

  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px
  }

  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px
  }

  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px
  }
}

body {
  box-sizing: border-box;
  padding: 3rem; /*padding does not get inherited*/

  @include respond(tab-port) {
    padding: 0;
  }
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}
